#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}


th {
background-color: #ddd;
padding: 1.4rem;
text-transform: capitalize;
font-size: 1.16rem;
}

td {
  font-size: 0.95rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 2px;
  border-spacing: 0px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

table, th, td {
  border: 1px solid;
}

th.dragging {
  opacity: 0.5;
  background-color: #8e919a;
  border: black 3px solid;
}


/* Caret direction indicator */

.caret.asc {
  transform: rotate(180deg); 
  color: blue;
  height: 16px;
}

.caret.desc {
  transform: rotate(0deg); 
  color: red;
  height: 16px;
}

/* Caret direction indicator END */